<!-- categories section -->
<section class="section-b-space">
    <div class="custom-container">
      <ul class="main-categories-list">
        <li>
          <a (click)="go('aeropuerto')" class="main-categories-box outstation"
             class="main-categories-box outstation">
            <div class="main-categories-content">
              <h5>Aeropuerto - hotel</h5>
              <h6>Ahorre tiempo del aeropuerto<br> al hotel o AirBNB </h6>
              <i class="iconsax arrow-icon" data-icon="arrow-right"></i>
            </div>
          </a>
        </li>
  
        <li>
          <a (click)="go('punto')" class="main-categories-box ride"
             class="main-categories-box ride">
            <div class="main-categories-content">
              <h5 style="color:black;">Punto a Punto</h5>
              <h6 style="color:black;">Viaje seguro y cómodo</h6>
              <i class="iconsax arrow-icon" data-icon="arrow-right"></i>
            </div>
          </a>
        </li>
  
        <li>
          <a (click)="go('hora')" class="main-categories-box rental"
             class="main-categories-box rental">
            <div class="main-categories-content">
              <h5>Por Horas</h5>
              <h6>El vehículo que quieras <br>por el tiempo que necesites</h6>
              <i class="iconsax arrow-icon" data-icon="arrow-right"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  
  <section class="panel-space"></section>
  