   

    <!-- search section starts -->
    <section class="home-profile-section section-b-space pt-0">
        <div class="custom-container">
            <div class="form-input">
                <input type="search" class="form-control with-icon" id="inputusername"
                    placeholder="Search destinations">
                <i class="iconsax search-icon" data-icon="search-normal-2"> </i>
                <a  class="date-time-picker">
                    <i class="iconsax icon" data-icon="calendar-1">
                    </i>
                </a>
            </div>
        </div>
    </section>
    
    <!-- search section end -->

    <!-- slider section starts -->
    <section>
        <div class="swiper banner1 home-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="img-fluid slider-img w-100" src="assets/images/slider/slider1.png" alt="slider">
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid slider-img w-100" src="assets/images/slider/slider2.png" alt="slider">
                </div>
            </div>
        </div>
    </section>
    <!-- slider section end -->

    <!-- category section starts -->
    <section>
        <div class="title px-20">
            <h3>Tipo de Servicios</h3>
        </div>

        <ul class="categories-list px-20">
            <li>
                <a (click)="virtual.setActiveRoute('search-location')" class="categories-box">
                    <div class="d-flex flex-column flex-nowrap justify-content-between h-100">
                        <h6>Aeropuerto - Hotel</h6>
                        <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
                    </div>
                    <img class="img-fluid categories-img" src="assets/images/categories/1.svg" alt="c1">
                </a>
            </li>
            <li>
                <a (click)="virtual.setActiveRoute('search-location')" class="categories-box">
                    <div class="d-flex flex-column flex-nowrap justify-content-between h-100">
                        <h6>Punto a punto</h6>
                        <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>

                    </div>
                    <img class="img-fluid categories-img" src="assets/images/categories/2.svg" alt="c1">
                </a>
            </li>
            <li>
                <a (click)="virtual.setActiveRoute('xhora')" class="categories-box">
                    <div class="d-flex flex-column flex-nowrap justify-content-between h-100">
                        <h6>Por hora</h6>
                        <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
                    </div>
                    <img class="img-fluid categories-img" src="assets/images/categories/3.svg" alt="c1">
                </a>
            </li>
        </ul>
    </section>
    <!-- category section end -->

    <!-- offer section starts -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h3>Por hora</h3>
            </div>

            <div class="row gy-3">
                <div class="col-12">
                    <div class="coupon-box">
                        <div class="coupon-details">
                            <div class="coupon-content">
                                <a  class="coupon-name">
                                    <img class="img-fluid coupon-img" src="../../assets/images/profile/p6.png" alt="c1">
                                    <div>
                                        <h5 class="fw-normal title-color">Johnson Smith</h5>
                                    </div>
                                </a>
                                <div class="rating">
                                    <img class="img-fluid star" src="../../assets/images/svg/star.svg" alt="star">
                                    <h6>4.5</h6>
                                </div>
                            </div>
                            <p>Up to 10 km from Wankover city area</p>

                            <ul class="content-list">
                                <li><i class="iconsax icon" data-icon="car"></i>Mini Sedan</li>
                                <li><i class="iconsax icon" data-icon="user-1"></i>4 Person</li>
                            </ul>
                            <div class="flex-align-center pt-2">
                                <h6 class="content-color fw-normal">Valid till: 4/5/2025</h6>
                            </div>
                        </div>
                        <div class="coupon-discount">20% OFF</div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="coupon-box">
                        <div class="coupon-details">
                            <div class="coupon-content">
                                <a  class="coupon-name">
                                    <img class="img-fluid coupon-img" src="../../assets/images/profile/p5.png" alt="c1">
                                    <div>
                                        <h5 class="fw-normal title-color">mike Dowson</h5>
                                    </div>
                                </a>
                                <div class="rating">
                                    <img class="img-fluid star" src="../../assets/images/svg/star.svg" alt="star">
                                    <h6>4.2</h6>
                                </div>
                            </div>
                            <p>Up to 50 km from Wankover city area</p>

                            <ul class="content-list">
                                <li><i class="iconsax icon" data-icon="car"></i>Mini Sedan</li>
                                <li><i class="iconsax icon" data-icon="user-1"></i>4 Person</li>
                            </ul>
                            <div class="flex-align-center pt-2">
                                <h6 class="content-color fw-normal">Valid till: 14/5/2025</h6>
                            </div>
                        </div>
                        <div class="coupon-discount">50% OFF</div>

                    </div>
                </div>

                <div class="col-12">
                    <div class="coupon-box">
                        <div class="coupon-details">
                            <div class="coupon-content">
                                <a  class="coupon-name">
                                    <img class="img-fluid coupon-img" src="../../assets/images/profile/p4.png" alt="c1">
                                    <div>
                                        <h5 class="fw-normal title-color">Aathryn Murphy</h5>
                                    </div>
                                </a>
                                <div class="rating">
                                    <img class="img-fluid star" src="../../assets/images/svg/star.svg" alt="star">
                                    <h6>4.3</h6>
                                </div>
                            </div>
                            <p>Up to 15 km from Wankover city area</p>

                            <ul class="content-list">
                                <li><i class="iconsax icon" data-icon="car"></i>Mini Sedan</li>
                                <li><i class="iconsax icon" data-icon="user-1"></i>4 Person</li>
                            </ul>
                            <div class="flex-align-center pt-2">
                                <h6 class="content-color fw-normal">Valid till: 21/5/2025</h6>
                            </div>
                        </div>
                        <div class="coupon-discount">30% OFF</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer section end -->

    <!-- panel-space start -->
    <section class="panel-space"></section>
    <!-- panel-space end -->
