 <!-- header starts -->
 <header id="header" class="main-header">
    <div class="custom-container">
        <div class="header-panel">
            <div class="flex-align-center gap-2">
                <a href="home.html#offcanvasLeft" data-bs-toggle="offcanvas">
                    <i class="iconsax icon-btn" data-icon="text-align-left"> </i>
                </a>
                <img class="img-fluid logo user-logo" src="assets/images/logo/user/user-logo.png"
                    alt="logo">
            </div>

            <div class="flex-align-center gap-sm-3 gap-2">
                <a >
                    <i class="iconsax icon-btn" data-icon="messages-2"> </i>
                </a>
                <a >
                    <i class="iconsax icon-btn noti-icon" data-icon="bell-2"> </i>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- header end -->