<div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft">
    <div class="offcanvas-header sidebar-header">
        <div class="sidebar-logo">
            <img class="img-fluid logo" src="assets/images/logo/user/user-logo.png" alt="logo">
            <img class="img-fluid logo-dark" src="assets/images/logo/user/user-logo-dark.png" alt="logo">
        </div>
    </div>
    <div class="offcanvas-body">
        <a href="user-app/profile-setting.html" class="profile-part flex-align-center gap-2">
            <img class="img-fluid profile-pic" src="assets/images/profile/p8.png" alt="p8">
            <div>
                <h3>Usuario</h3>
<!--                 <span>Edit Account</span>
 -->            </div>
        </a>
        <ul class="link-section switch-section">
            <li class="active">
                <a (click)="virtual.setActiveRoute('driver-home')" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="home-2"> </i>
                    <h3>Inicio</h3>
                </a>
            </li>
            <li>
                <a (click)="virtual.setActiveRoute('myrides')" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="car"> </i>
                    <h3>Mis viajes</h3>
                </a>
            </li>
            <!-- <li>
                <a href="user-app/notification.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="bell-2"> </i>
                    <h3>Notification</h3>
                </a>
            </li>

            <li>
                <a href="user-app/setting.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="user-1"> </i>
                    <h3>Setting</h3>
                </a>
            </li>
            <li>
                <a href="user-app/page-listing.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="book-closed"> </i>
                    <h3>Template Pages</h3>
                </a>
            </li> -->

            <!-- <li>
                <a href="../elements/elements-page.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="document-text-1"> </i>
                    <h3> Template Elements</h3>
                </a>
            </li>


            <li>
                <div class="pages">
                    <i class="iconsax sidebar-icon" data-icon="repeat"> </i>
                    <h3>RTL</h3>
                </div>
                <div class="switch-btn">
                    <input id="dir-switch" type="checkbox">
                </div>
            </li>

            <li>
                <div class="pages">
                    <i class="iconsax sidebar-icon" data-icon="brush-3"> </i>
                    <h3>Dark</h3>
                </div>
                <div class="switch-btn">
                    <input id="dark-switch" type="checkbox">
                </div>
            </li> -->

        </ul>

        <div class="bottom-sidebar">
            <a  class="pages">
                <i class="iconsax sidebar-icon" data-icon="logout-2"> </i>
                <h3>Salir</h3>
            </a>
        </div>
    </div>
</div>