<!-- header starts -->
<header id="header" class="main-header inner-page-header position-absolute bg-transparent">
    <div class="custom-container">
        <div class="header-panel p-0">
            <a (click)="virtual.setActiveRoute('select-auto')">
                <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
            </a>
        </div>
    </div>
</header>
<!-- header end -->

<!--  ride details section starts-->
<img class="img-fluid map-img" src="../../assets/images/map.png" alt="map">
<div class="driver-info-box">
    <div>
        <h5 class="fw-medium">Resumen del viaje</h5>
        <h6 class="mt-1 fw-normal text-white text-opacity-75">Por favor no llegues tarde</h6>
    </div>
    <h3>6 min</h3>
</div>

<div class="ride-content-bg" style="bottom: 90px;">
    <div class="details-title flex-spacing">
        <h4 class="fw-medium title-color">Confirme su solicitud</h4>
        <img class="img-fluid" src="../../assets/images/svg/car-img.svg" alt="car">
    </div>

    <div class="profile-head">
        <!-- <img class="img-fluid profile-img" src="../../assets/images/profile/p8.png" alt="profile"> -->
        <div class="profile-content">
            <div>
                <div class="flex-align-center gap-1">
                    <h5>Tipo de servicio</h5>
                    <a >
                        <i class="iconsax icon" data-icon="info-circle"> </i>
                    </a>
                </div>
                <!-- <div class="flex-align-center gap-1">
                    <img class="star" src="../../assets/images/svg/star.svg" alt="star">
                    <h5 class="fw-normal title-color">4.8</h5>
                    <span class="content-color fw-normal">(127)</span>
                </div> -->
            </div>

            <div class="flex-align-center gap-2">
                <a  class="comm-icon">
                    <img class="img-fluid icon-btn" src="../../assets/images/svg/messages-fill.svg" alt="messages">
                </a>
                <a href="tel:+4733378901" class="comm-icon">
                    <img class="img-fluid icon-btn" src="../../assets/images/svg/call-fill.svg" alt="car">
                </a>
            </div>
        </div>
    </div>

    <div class="vehicle-info">
        <div>
            <div class="flex-align-center gap-1">
                <h4 class="fw-medium title-color">Vehiculo</h4>
                <i class="iconsax icon" data-icon="car"> </i>
            </div>
            <h5 class="fw-normal content-color mt-1">Origen / destino</h5>
        </div>
        <a href="driver-review.html" class="flex-align-center gap-1">
            <img class="share-icon" src="../../assets/images/svg/forward.svg" alt="forward">
            <h6 class="fw-normal title-color">Share Trip</h6>
        </a>
    </div>

    <div class="amount-part">
        <div class="total flex-spacing">
            <h4 class="fw-medium title-color">Total Fare <span class="fw-semibold">$100</span></h4>
            <a  class="btn theme-btn p-2 d-inline-block m-0 pay-btn">Pagar ahora</a>
        </div>
        <div class="location-part fare-amount">
            <div class="flex-align-center gap-2">
                <img class="img-fluid img" src="../../assets/images/svg/google-pay.svg" alt="google-pay">
                <div>
                    <h5 class="fw-medium title-color">miketorellookamerican</h5>
                    <h6 class="fw-normal content-color mt-1">...</h6>
                </div>
            </div>
        </div>
    </div>
</div>